.app {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
header {
  background-color: rgb(63, 62, 62);
  display: flex;
  justify-content: center;
  color: white;
}
.app-body {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.book-container {
  display: flex;
  gap: 10px;
}
.book-container main {
  display: flex;
}
.book-left-column {
  display: flex;
}
.book-form {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.book-form-container {
  background-color: rgb(220, 220, 220);
  border-radius: 10px;
  padding: 10px;
}
.book-right-column {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 768px) {
  .app-body {
    flex-direction: column; /* Столбиком */
    align-items: center;    /* Центрирование */
  }

  .book-container main {
    align-items: center;
    flex-direction: column;
  }

  .book-left-column,
  .book-right-column {
    width: 100%;
    justify-content: center;
  }

  .book-form-container {
    width: 100%;
  }
}


